<script type="text/javascript">

</script>
<div class="pagewrapper">
			<div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()"><div id="tdhlg"></div>
			 <div id="toolbar">
			  <img id="home"     title="Home"                  src="nonbower_components/minimal/skins/dark/home.png"   /><br/>
			  <img id="zoomin"   title="Zoom In"               src="nonbower_components/minimal/skins/dark/zoomin.png" /><br/>
			  <img id="zoomout"  title="Zoom Out"              src="nonbower_components/minimal/skins/dark/zoomout.png"/><br/>
			  <img id="light_on" title="Disable Light Control" src="nonbower_components/minimal/skins/dark/light_on.png" style="position:absolute; visibility:hidden;"/>
			  <img id="light"    title="Enable Light Control"  src="nonbower_components/minimal/skins/dark/light.png"/><br/>
			  <img id="full_on"  title="Exit Full Screen"      src="nonbower_components/minimal/skins/dark/full_on.png" style="position:absolute; visibility:hidden;"/>
			  <img id="full"     title="Full Screen"           src="nonbower_components/minimal/skins/dark/full.png"   />
			 </div>
			 <canvas id="draw-canvas" style=""/>
			</div>
</div>
