<div style="width: 100%; height: 100%; overflow: hidden;">
  <div style="height: 40px; width: calc(100% - 100px); padding-left: 10px">
    <md-select ng-model="Model.selectedScan" md-on-close="loadScan()" placeholder="Select Scan to load">
      <md-option ng-repeat="ref in Model.availableScans track by $index" value="{{ref}}">{{ref}}</md-option>
    </md-select>
  </div>
  <image-viewer ng-if="!Model.loading"
    path="{{'http://opacbasis.w07adlib1.arz.oeaw.ac.at/wwwopac.ashx?command=getcontent&server=images&value=' +Model.selectedScan+ '&width=3500&height=3500&imageformat=jpg' }}"/>
</div>