<leaflet bounds="bounds" markers="markers" class="map"></leaflet>
<md-sidenav
    class="md-sidenav-right md-whiteframe-0dp"
    md-component-id="right"
    md-is-open="big"
    md-whiteframe="4"
    md-disable-backdrop="true">
  <md-content >
    <md-tabs md-dynamic-height md-border-bottom>
     <md-tab label="sites">
       <md-content >
         <md-list class="md-dense" flex>
            <md-list-item class="md-2-line" ng-repeat="site in markers" ng-click="selSite(site.id)">
              <md-icon>map</md-icon>
              <div class="md-list-item-text">
                <h3>{{ site.message }}</h3>
                <p>{{site.lat}}/{{site.lng}}</p>
              </div>
            </md-list-item>
         </md-list>
       </md-content>
     </md-tab>
     <md-tab label="squeezes">
       <md-content class="md-padding">
       </md-content>
     </md-tab>
   </md-tabs>
  </md-content>

</md-sidenav>
