<md-whiteframe class="md-whiteframe-0dp outersidebar" hide-sm hide-xs>
  <md-button class="md-icon-button" aria-label="Open Menu" ng-click="toggleLeft()">
        <md-icon style="color: #000000">view_headline</md-icon>
  </md-button>
  <span>Menu</span>
</md-whiteframe>
<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4">
  <md-whiteframe class="md-whiteframe-0dp innersidebar" hide-sm hide-xs>
    <md-button class="md-icon-button" aria-label="Open Menu" ng-click="toggleLeft()">
          <md-icon style="color: #000000">view_headline</md-icon>
    </md-button>
    <span>Menu</span>
  </md-whiteframe>
</md-sidenav>