<div class="pagewrapper" layout="row" layout-align="center start" layout-padding layout-wrap>
 <h2>Related Projects</h2>
 <md-whiteframe class="md-whiteframe-3dp card maincard" layout="column" flex="noshrink" layout-align="start start">
   <md-content layout-padding style="width: 95%;">
     <md-list>
       <md-list-item class="projectline" style="margin-top: 0px;">
         <p class="md-caption">DASI:</p>
         <p></p>
         <a href="http://dasi.humnet.unipi.it/" target="_blank">http://dasi.humnet.unipi.it/</a>
         <md-divider></md-divider>
       </md-list-item>
       <md-list-item class="projectline" style="margin-top: 0px;">
         <p class="md-caption">SabaWeb:</p>
         <p></p>
         <a href="http://sabaweb.uni-jena.de/SabaWeb/" target="_blank">http://sabaweb.uni-jena.de/SabaWeb/</a>
         <md-divider></md-divider>
       </md-list-item>
     </md-list>
     <md-list-item class="projectline" style="margin-top: 0px;">
       <p class="md-caption">Transformations of South-Western Arabia in Past and Present:</p>
       <p></p>
       <a href="https://www.oeaw.ac.at/en/isa/research/islamic-middle-east/transformations-of-south-western-arabia-in-past-and-present/" target="_blank">https://www.oeaw.ac.at/en/isa/research/</a>
       <md-divider></md-divider>
     </md-list-item>
     <md-list-item class="projectline" style="margin-top: 0px;">
       <p class="md-caption">Kalam:</p>
       <p></p>
       <a href="http://www.ruzicka.net:8180/kalam/servlet/kalam" target="_blank">http://www.ruzicka.net:8180/kalam/servlet/kalam</a>
       <md-divider></md-divider>
     </md-list-item>
   </md-list>
   </md-content>
 </md-whiteframe>
</div>
