<div class="pagewrapper" layout="row" layout-align="center start" layout-padding layout-wrap>
  <div class="maincard card" layout="column" flex="noshrink" layout-align="start start" >
    <md-content layout-padding>
      <div>
        <h2 class="md-display-1">Simple Search</h2>
        <div><span>Search the Glaser Collection for a sequence of keywords. <br>
        Separate them by SPACEs. Use * as wildcards.</span></div>
        <md-input-container class="md-block" >
          <label>Search Keyword(s)</label>
          <input ng-model="Model.keyword">
        </md-input-container>
        <md-button class="md-raised md-warn" ng-click="simpleSearch()">Submit</md-button>
      </div>
    </md-content>
  </div>
  <md-whiteframe class="md-whiteframe-3dp card subcard" layout="column" flex="noshrink" layout-align="start start">
    <md-content layout-padding>
      <div>
        <h3 class="md-title">Information</h3>
        <div><span>Simple Search currently queries the following Fields using an OR logic.</span></div>
        
      </div>
    </md-content>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-3dp card subcard" layout="column" flex="noshrink" layout-align="start start">
    <md-content layout-padding>
      <div>
        <h3 class="md-title">Previous Searches</h3><md-button class="md-raised md-warn" ng-click="clearHistory()">Clear Search History</md-button>
        <div><span>Searches are currently only saved within one session.</span></div>
            <md-list flex>
              <md-list-item class="spinentry projectline" style="margin-top: 0px;" ng-repeat="search in Model.previousSearches" ui-sref="gl.results({queryID: {{$index+1}}, pageNo: '1'})">
                  <span>{{search}}</span>
                  <md-divider ></md-divider>
              </md-list-item>
            </md-list>
      </div>
    </md-content>
  </md-whiteframe>
</div>