<div class="pagewrapper" layout="column" layout-align="center center">
  <div layout="column" layout-align="center start">
    <h2 class="md-display-2 ">Simple Search</h2>
    <md-content>
      <div><span>This form will search the Glaser collection for the keywords below.</span></div>
      <md-input-container class="md-block" >
        <label>Search Keyword(s)</label>
        <input ng-model="Model.keyword">
      </md-input-container>
      <md-button ng-click="simpleSearch()">Submit</md-button>
    </md-content>
  </div>
</div>