<div class="pagewrapper" layout="column" layout-align="start start">
  <div layout="row" layout-align="center start" layout-wrap>
  	<div class="pagecover" layout="column" flex="noshrink" layout-align="start center">
  		<div>
  			<img style="width: calc(100% - 10px);" src="{{''}}">
  			<h2 class="md-display-1" style="position: relative; left: 10px;">{{Model.SingleRecord.data.title}}</h2>
  		</div>
  	</div>
  	<div class="card subcard" layout="row" flex="noshrink" layout-align="start start">
  		<div style="width: 100%;" layout-padding>
  		    <md-list class="md-dense" flex>
  				<md-list-item class="vspinentry">
  				  	<h3 class="md-title" style="width:40%; padding-right: 15px;text-align: right;">Author: </h3>
  				  <p style="width: 60%; text-align: justify;">{{Model.SingleRecord.data.creators[0].lastName}}, {{Model.SingleRecord.data.creators[0].firstName}}</p>
  				  <md-divider></md-divider>
  				</md-list-item>
  				<md-list-item class="vspinentry">
  				  	<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Published: </h3>
  				  <p style="width: 60%; text-align: justify;">{{Model.SingleRecord.data.date}} / {{Model.SingleRecord.data.place}}</p>
  				  <md-divider></md-divider>
  				</md-list-item>
          <md-list-item class="vspinentry">
  				  	<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Publisher: </h3>
  				  <p style="width: 60%; text-align: justify;">{{Model.SingleRecord.data.publisher}}</p>
  				  <md-divider></md-divider>
  				</md-list-item>
  				<md-list-item class="vspinentry">
  				  	<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Series: </h3>
  				  <p style="width: 60%; text-align: justify;">{{Model.SingleRecord.data.series}}</p>
  				  <md-divider></md-divider>
  				</md-list-item>
  				<md-list-item class="vspinentry">
  				  	<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Volume: </h3>
  				  <p style="width: 60%; text-align: justify;">{{Model.SingleRecord.data.seriesNumber}}/{{Model.SingleRecord.data.numberOfVolumes}}</p>
  				  <md-divider></md-divider>
  				</md-list-item>
  				<md-list-item class="vspinentry">
  				  	<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Pages: </h3>
  				  <p style="width: 60%; text-align: justify;">{{Model.SingleRecord.data.pages}}</p>
  				  <md-divider></md-divider>
  				</md-list-item>
  			</md-list>
  		</div>
  	</div>
  	<md-whiteframe class="md-whiteframe-3dp card subcard" layout="column" flex="noshrink" layout-align="start start">
  	    <md-content layout-padding>
  	      <div>
  	        <h3 class="md-title"></h3>
  	      </div>
  	    </md-content>
    </md-whiteframe>
  </div>
  <div  layout="column" layout-align="start start" class="card maincard" layout-padding>
  	<h2 class="md-display-1">Squeeze Records</h2>
  	<md-table-container>
  	  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
  	    <thead md-head md-order="" md-on-reorder="getNewOrder">
  	      <tr md-row>
  	      	<th md-column><span></span></th>
  	        <th md-column md-order-by="title"><span>Title</span></th>
  	        <th md-column md-order-by="inscription.language"><span>Language</span></th>
  	        <th md-column md-order-by="production.place"><span>Site</span></th>
  	        <th md-column md-order-by=""><span>Actions</span></th>
  	      </tr>
  	    </thead>
  	    <tbody md-body>
  	      <tr md-row
  	      		md-select="squeeze"
  	      		md-select-id="{{squeeze.priref}}"
  	      		ng-repeat="squeeze in Model.Result"
  	      		ui-sref="gl.singleRecord({refID: {{squeeze.priref}}})"
  	      		class="vspinentry" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50+'s','overflow':'hidden'}" >
  			<td md-cell>
  				<img ng-src="{{'https://opacbasis.acdh.oeaw.ac.at/wwwopac.ashx?command=getcontent&server=images&value=' + squeeze['reproduction.reference'][0] + '&width=200&height=200&scalemode=fill&fillmode=center&imageformat=jpg'}}" class="squeezeicon" alt="{{squeeze['reproduction.reference'][0]}}" />
  			</td>
  	        <td md-cell>{{squeeze.title[0]}}</td>
  	        <td md-cell>{{squeeze['inscription.language'][0]}}</td>
  	        <td md-cell>{{squeeze['production.place'][0]}}</td>
  	        <td md-cell>
              <div class="tabletoolbar" layout="row" layout-align="end" ng-if="!squeeze.position" ng-click="$event.stopPropagation()">
  							<md-button class="md-icon-button" aria-label="Details" ui-sref="{{'gl.singleRecord({refID: '+squeeze.priref+'})'}}">
  								<md-icon md-colors="{color: 'primary-800'}" >library_books</md-icon>
  									<md-tooltip md-direction="bottom">
  											Details
  										</md-tooltip>
  							</md-button>
  							<md-button class="md-icon-button" aria-label="View Image" ui-sref="gl.fullImage({imgID: '{{squeeze['reproduction.reference'][0] | encode}}'})">
  								<md-icon md-colors="{color: 'primary-800'}" >code</md-icon>
  									<md-tooltip md-direction="bottom">
  											View Image
  										</md-tooltip>
  							</md-button>
  							<md-button class="md-icon-button" aria-label="View Scan" ng-repeat="ref in squeeze['priref'] track by $index" ui-sref="gl.scan({scanID: '{{ref}}'})">
  								<md-icon md-colors="{color: 'primary-800'}" >3d_rotation</md-icon>
  									<md-tooltip md-direction="bottom">
  											View 3D Scan
  										</md-tooltip>
  							</md-button>
  						</div>

            </td>
  	      </tr>
  	    </tbody>
  	  </table>
  	</md-table-container>
  </div>
</div>
