<div class="pagewrapper">
		<div class="pagecover" layout="row" flex="noshrink" layout-align="start end" default-image="media/preload.jpg" preload-bg-image="{{'https://opacbasis.acdh.oeaw.ac.at/wwwopac.ashx?command=getcontent&server=images&value='+Model.SingleRecord['reproduction.reference'][0]+'&width=1000&height=500&scalemode=fill&fillmode=center&imageformat=jpg'}}">
			<h2 class="md-display-1" style="color: #ffffff; position: relative; margin: 5px; z-index:1;">{{Model.SingleRecord.title[0]}}</h2>
			<md-button style="position: relative; margin: 13px; z-index:1;" class="md-primary md-raised" aria-label="3D Scans"  ui-sref="gl.scan({scanID: '{{Model.SingleRecord.priref}}'})" ng-if="Model.SingleRecord['part_of_reference'][0] == 'AT-OeAW-BA-3-27-A'">
				<md-icon>3d_rotation</md-icon>
				3D - Scans
			</md-button>
			<md-button style="position: relative; margin: 13px; z-index:1;" class="md-primary md-raised" aria-label="Image Scans" ui-sref="gl.fullImage({imgID: '{{Model.SingleRecord.priref}}'})" ng-if="Model.SingleRecord['reproduction.reference'].length > 0">
				<md-icon>image</md-icon>
				Image Scans
			</md-button>
			<md-button style="position: relative; margin: 13px; z-index:1;" class="md-primary md-raised" aria-label="TEI encoded texts" ui-sref="gl.tei({id:'adlib{{Model.refID}}'})" ng-if="hasTEI(Model.refID)">
				<md-icon>code</md-icon>
				TEI Encodings
			</md-button>
		</div>
		<md-tabs md-dynamic-height md-border-bottom md-selected="activeTab" md-stretch-tabs="always" style="width: 100%;">
			<md-tab label="Basic">
				<div layout="row" layout-align="start start" layout-wrap>
					<div class="card subcard" layout="row" flex="noshrink" layout-align="start start">
						<div style="width: 100%;" layout-padding>
									<md-list class="md-dense" flex>
										<md-list-item class="vspinentry">
											<h3 class="md-title" style="width:40%; padding-right: 15px;text-align: right;">Reference Number: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['object_number'][0]}}</p>
											<md-divider></md-divider>
										</md-list-item>
									<md-list-item class="vspinentry" ng-if="Model.SingleRecord['part_of_reference'][0] == 'AT-OeAW-BA-3-27-A'">
												<h3 class="md-title" style="width:40%; padding-right: 15px;text-align: right;">First Line starts: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['Inscription.FirstLineStartsWith'][0][0].value}}</p>
											<md-divider></md-divider>
									</md-list-item>
									<md-list-item class="vspinentry" ng-if="Model.SingleRecord['part_of_reference'][0] == 'AT-OeAW-BA-3-27-A'">
												<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Bustrophedon: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['Inscription.Bustrophedon'][0][0].value}}</p>
											<md-divider></md-divider>
									</md-list-item>
									<md-list-item class="vspinentry" ng-if="Model.SingleRecord['part_of_reference'][0] == 'AT-OeAW-BA-3-27-A'">
												<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Quality: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['Inscription.Quality'][0][0].value}}</p>
											<md-divider></md-divider>
									</md-list-item>
									<md-list-item class="vspinentry">
												<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Language: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['inscription.language'][0]}}</p>
											<md-divider></md-divider>
									</md-list-item>
									<md-list-item class="vspinentry">
												<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Period: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['period_enum'][0][0].value}}</p>
											<md-divider></md-divider>
									</md-list-item>
									<md-list-item class="vspinentry">
												<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Site: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['production.place'][0]}}</p>
											<md-divider></md-divider>
									</md-list-item>
								<md-list-item class="vspinentry" ng-repeat="number in Model.SingleRecord['alternative_number.type']">
												<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">Alternate Number: </h3>
											<p style="width: 60%; text-align: justify;">{{Model.SingleRecord['alternative_number.type'][$index]}} - {{Model.SingleRecord['alternative_number'][$index]}} - {{Model.SingleRecord['alternative_number.institution'][$index]}} - {{Model.SingleRecord['alternative_number.date'][$index]}}</p>
											<md-divider></md-divider>
									</md-list-item>
								<md-list-item class="vspinentry">
									<h3 class="md-title" style="width:40%;padding-right: 15px;text-align: right;">DASI Reference: </h3>
									<p style="width: 60%; text-align: justify;"><a href="{{Model.SingleRecord['digital_reference'][1]}}" target="_blank">{{Model.SingleRecord['digital_reference'][1].split("=").slice(-1)[0]}}</a></p>
									<md-divider></md-divider>
								</md-list-item>
								</md-list>
						</div>
					</div>
					<div class="md-whiteframe-3dp card subcard" >
						<div class="nomap subcard" ng-if="!Model.SingleRecord['production.place.uri'][0]" layout="row" layout-align="center center">
							<h3>No Geoinformation available for this Item</h3>
						</div>
						<leaflet id="singlemap" markers="markers" width="100%" height="400px"></leaflet>
					</div>
					<div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
						<div style="width: 100%;" layout-padding>
							<h3 class="md-title">Notes & Description</h3>
								<md-list flex>
									<md-list-item class="vspinentry"  >
										<p style="width: 20%;" >Notes</p>
										<p style="width: 40%;">{{Model.SingleRecord['inscription.notes'][0]}}</p>
										<md-divider></md-divider>
									</md-list-item>
									<md-list-item class="vspinentry"  >
										<p style="width: 20%;">Description</p>
										<p style="width: 40%;">{{Model.SingleRecord['inscription.description'][0]}}</p>
										<md-divider></md-divider>
									</md-list-item>
								<md-list-item class="vspinentry">

									<p style="width: 1000%;"><md-icon style="color: red;">error_outline</md-icon>Due to various <a href="https://support.mozilla.org/en-US/kb/fix-printing-problems-firefox" target="_blank">browser bugs</a>, the print function works best when used in Chrome.</p>
									<md-divider></md-divider>
								</md-list-item>
								<md-list-item class="vspinentry">
									<md-button class="md-primary md-raised"  aria-label="Print Record" ui-sref="gl.singlePrint({refID:'{{Model.refID}}'})" style="width: 100%;"><md-icon>print</md-icon> PRINT </md-button>
									<md-divider></md-divider>
								</md-list-item>
								</md-list>
						</div>
					</div>
			</div>
			</md-tab>
			<md-tab label="Content & Interpretation" >
				<div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
					<div style="width: 100%;" layout-padding>
						<h3 class="md-title">Persons & Institutions</h3>
						<md-list flex>
							<md-list-item class="vspinentry" ng-repeat="person in Model.SingleRecord['content.person.name'] track by $index">
								<p style="width:20%">{{Model.SingleRecord['content.person.name.role'][$index]['value'][1]}}: </p>
								<p style="width: 40%; text-align: justify;">{{person}}</p>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
						<h3 class="md-title">Interpretation</h3>
						<p class="md-body-1">{{Model.SingleRecord['inscription.interpretation'][0]}}</p>
					</div>
				</div>
			</md-tab>
			<md-tab label="References">
				<div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
					<div style="width: 100%;" layout-padding>
						<h3 class="md-title">Digital References</h3>
						<md-list flex>
							<md-list-item class="vspinentry" ng-repeat="number in Model.SingleRecord['digital_reference'] track by $index" >
								<p style="width:40%">{{ Model.SingleRecord['digital_reference.description'][$index] }}</p>
								<p style="width: 60%; text-align: justify;"><a href="{{Model.SingleRecord['digital_reference'][$index]}}" target="_blank">{{Model.SingleRecord['digital_reference'][$index].split("=").slice(-1)[0]}}</a></p>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
						<h3 class="md-title">Related Materials</h3>
						<md-list flex>
							<md-list-item class="vspinentry" ng-repeat="number in Model.SingleRecord['related_object.reference'] track by $index" ui-sref="gl.singleRecord({refID: '{{Model.SingleRecord['related_object.reference.lref'][$index]}}'})" >
								<p style="width:40%">{{ Model.SingleRecord['related_object.association'][$index] }}</p>
								<p style="width:40%" >{{ Model.SingleRecord['related_object.reference'][$index] }} - {{ Model.SingleRecord['related_object.title'][$index] }}</p>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
						<h3 class="md-title">References</h3>
							<md-list-item ng-repeat="ref in references  track by $index"  class="vspinentry" ng-controller="BibByPath" path='{"users":"","items":"{{ref}}"}' ui-sref="gl.singleBib({key:'{{ref}}',user:3808523})">
								<p style="width: 20%;">{{$index+1}}</p>
								<p style="width: 20%;">{{bib.data.creators[0].lastName}}/{{bib.data.creators[0].firstName}}</p>
								<p style="width: 50%;">{{bib.data.title}}</p>
								<md-divider></md-divider>
							</md-list-item>
					</div>
				</div>
			</md-tab>
			<md-tab label="Downloads">
				<div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
					<div style="width: 100%;" layout-padding>
						<h3 class="md-title">Downloads</h3>
						<md-list flex>
							<md-list-item class="vspinentry" ng-repeat="item in Model.SingleRecord['digital_reference'] track by $index" >
								<p style="width:40%">{{ Model.SingleRecord['digital_reference.description'][$index] }}</p>
								<p style="width: 60%; text-align: justify;"><md-button class="md-primary md-raised" aria-label="Download Scan" href="{{'https://opacbasis.acdh.oeaw.ac.at/' + Model.SingleRecord['digital_reference'][$index] }}" style="width: 100%;"><md-icon>file_download</md-icon>{{ Model.SingleRecord['digital_reference'][$index] }}</md-button></p>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
						<md-list-item class="vspinentry" ng-repeat="item in Model.SingleRecord['reproduction.reference'] track by $index" >
							<p style="width:40%">{{ Model.SingleRecord['reproduction.original_file_name'][$index] }}</p>
							<p style="width: 60%; text-align: justify;"><md-button class="md-primary md-raised" aria-label="Download Scan" href="{{'https://opacbasis.acdh.oeaw.ac.at/' + Model.SingleRecord['reproduction.reference'][$index] }}" style="width: 100%;"><md-icon>file_download</md-icon>{{ Model.SingleRecord['reproduction.reference'][$index] }}</md-button></p>
							<md-divider></md-divider>
						</md-list-item>
						</md-list>
						<md-list-item ng-if="Model.SingleRecord['part_of_reference'][0] == 'AT-OeAW-BA-3-27-A'" class="vspinentry">
							<md-button class="md-primary md-raised" aria-label="Download Viewer" href="http://www.meshlab.net/#download" style="width: 100%;"><md-icon>visibility</md-icon> FREE MESHLAB VIEWER DOWNLOAD</md-button>
							<md-divider></md-divider>
						</md-list-item>
					</div>
				</div>
			</md-tab>
			<md-tab label="Transcription / Translation" >
				<div class="card maincard" layout="row" layout-align="center center" ng-if="hasTEI(Model.refID)">
					<div>The transcription and translation have also been encoded as </div>
					<md-button class="md-primary md-raised" aria-label="TEI encoded texts" ui-sref="gl.tei({id:'adlib{{Model.refID}}'})">
						<md-icon>code</md-icon>
						TEI documents
					</md-button>
				</div>
				<div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
				<div style="width: 100%;" layout-padding>
									<md-list flex>
											<md-list-item class="line vspinentry" style="margin-top: 0px;">
															<h3 class="md-title" style="width: 50%; text-align: justify; padding-right: 15px;">Transliteration</h3>
															<h3 class="md-title" style="width: 50%; text-align: justify; padding-right: 15px;">Translation</h3>
															<md-divider></md-divider>
											</md-list-item>
											<md-list-item class="line vspinentry" style="margin-top: 0px;" ng-repeat="line in Model.SingleRecord['inscription.transliteration']  track by $index" >
															<p style="width: 50%; text-align: justify; padding-right: 15px;">{{line}}</p>
															<p style="width: 50%; text-align: justify;">{{Model.SingleRecord['inscription.translation'][$index]}}</p>
															<md-divider></md-divider>
											</md-list-item>
									</md-list>
					</div>
				</div>
			</md-tab>
	 </md-tabs>
</div>
