<div class="pagewrapper" layout="column" layout-align="start start">
  <div class="card maincard" layout="row" layout-align="center center">
    <div>For more details, please also consider the squeezes</div>
    <md-button class="md-primary md-raised" aria-label="TEI encoded texts" ui-sref="gl.singleRecord({refID: {{id}}})">
      <md-icon>description</md-icon>
      Full record
    </md-button>
  </div>
  <md-tabs md-dynamic-height md-border-bottom md-selected="0" md-stretch-tabs="always" style="width: 100%;">
    <md-tab label="Transliteration" >
        <div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
         <div style="width: 100%;" layout-padding ng-bind-html="Model.transliteration">
         </div>
       </div>
    </md-tab>
   <md-tab label="Translation">
     <div class="card maincard" layout="row" flex="noshrink" layout-align="start start">
      <div style="width: 100%;" layout-padding ng-bind-html="Model.translation">
      </div>
    </div>
   </md-tab>
  </md-tabs>
</div>
<md-sidenav
    class="md-sidenav-right md-whiteframe-0dp"
    md-component-id="right"
    md-is-open="big"
    md-whiteframe="4"
    md-disable-backdrop="true">
  <md-content >
     <md-list class="md-dense" flex>
        <md-list-item class="md-2-line" ng-repeat="(key, trans) in Manifest" ng-click="selSite(key)" ng-controller="SqueezeByAttr" squeezeid="{{key}}">
          <img ng-src="{{'http://opacbasis.w07adlib1.arz.oeaw.ac.at/wwwopac.ashx?command=getcontent&server=images&value=' + squeeze['reproduction.reference'][0] + '&width=200&height=200&scalemode=fill&fillmode=center&imageformat=jpg'}}" class="squeezeicon" alt="{{squeeze['reproduction.reference'][0]}}" />
          <div class="md-list-item-text">
            <h3>{{ squeeze.title[0] }}</h3>
            <p>{{squeeze['inscription.language'][0]}}/{{squeeze['production.place'][0]}}</p>
          </div>
        </md-list-item>
     </md-list>
  </md-content>
</md-sidenav>
