<md-content layout-padding layout-wrap>
    {{selRec}}
</md-content>
<md-sidenav
    class="md-sidenav-right md-whiteframe-0dp"
    md-component-id="right"
    md-is-open="big"
    md-whiteframe="4"
    md-disable-backdrop="true">
  <md-content >
     <md-list class="md-dense" flex>
        <md-list-item class="md-2-line" ng-repeat="(key, trans) in Manifest" ng-click="selSite(key)" ng-controller="SqueezeByAttr" squeezeid="{{key}}">
          <img ng-src="{{'http://opacbasis.w07adlib1.arz.oeaw.ac.at/wwwopac.ashx?command=getcontent&server=images&value=' + squeeze['reproduction.reference'][0] + '&width=200&height=200&scalemode=fill&fillmode=center&imageformat=jpg'}}" class="squeezeicon" alt="{{squeeze['reproduction.reference'][0]}}" />
          <div class="md-list-item-text">
            <h3>{{ squeeze.title[0] }}</h3>
            <p>{{squeeze['inscription.language'][0]}}/{{squeeze['production.place'][0]}}</p>
          </div>
        </md-list-item>
     </md-list>
  </md-content>

</md-sidenav>
